# Default owner
* @uisawara

# UPM packages
/Assets/UnityPackages/works.mmzk.muhierarchy/ @uisawara
/Assets/UnityPackages/works.mmzk.muasmdefgraph/ @uisawara
/Assets/UnityPackages/works.mmzk.mushortcut/ @uisawara
